<div class='page-container'>
<div class='home-container'>
  <div class='logout-container'>
    <%= link_to destroy_user_session_path, class: 'logout-button', method: :delete do %>
      <%= fa_icon "sign-out 2x"%>
    <% end %>
  </div>
  <div>
    <h1>Clubhouse API Token</h1>
    <% if !@current_user.clubhouse_api_token %>
      <%= form_tag clubhouse_set_destination_workspace_api_key_path do |f| %>
        <div class='form-group'>
          <%= text_field_tag(:destination_workspace_api_key, nil, placeholder: 'Enter your API token', class: 'form-control') %>
        </div>
        <div class='form-group'>
          <%= submit_tag "Add Token", class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% else %>
      <p>You already have an API token set. If you'd like to add a new one please delete your current token.</p>
      <%= form_tag clubhouse_delete_destination_workspace_api_key_path do |f| %>
        <div class='form-group'>
        <%= submit_tag "Delete Token", class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <h1>Clubhouse Projects</h1>
    <%= form_tag clubhouse_initialize_clubhouse_setup_path do |f| %>
    <div class='row justify-content-center form-group'>
      <% @template_projects.each do |item| %>
        <div class='col-4'>
        <%= check_box_tag "template_projects[#{item['id']}]", item['name'] %>
        <%= label_tag("project #{item['id']}", item['name']) %>
        </div>
      <% end %>
      </div>
      <div class='form-group'>
      <%= submit_tag "Initiallize Clubhouse", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

</div>