<div class='page-container'>
<div class='home-container'>
  <div class='menu-container'>
  <%= link_to root_url, class: 'logout-button', method: :delete do %>
      <%= fa_icon "home 2x"%>
  <% end %>
  <%= link_to keys_path, class: 'logout-button' do %>
      <%= fa_icon "key 2x"%>
    <% end %>
    <%= link_to destroy_user_session_path, class: 'logout-button', method: :delete do %>
      <%= fa_icon "sign-out 2x"%>
    <% end %>
  </div>

  <div>
    <h1>Clubhouse Projects</h1>
    <div class='row justify-content-center form-group'>
      <% if @template_projects.length < 2 %>       
        <p>Clubhouse Projects <%= @template_projects %> </p>
      <% else %> 
      <%= form_tag clubhouse_initialize_clubhouse_setup_path do |f| %>
        <div class='row justify-content-center form-group'>
          <% @template_projects.each do |item| %>
            <div class='col-4'>
            <%= check_box_tag "template_projects[#{item['id']}]", item['name'] %>
            <%= label_tag("project #{item['id']}", item['name']) %>
            </div>
          <% end %>
          </div>
          <div class='form-group'>
          <%= submit_tag "Initiallize Clubhouse", class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>